body {
    font-family:sans-serif;
}

p {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
}

div {
    padding-left: 25px;
    padding-right: 25px;
}


